<h1>Contact us</h1>
<p>I can be found on social media on <%= link_to "LinkedIn", "http://www.linkedin.com/pub/rahul-bhansali/31/81b/114" %>, <%= link_to "Twitter", "https://twitter.com/rbhans91" %>, and <%= link_to "Facebook", "https://www.facebook.com/rahul.bhansali.1884" %>.</p>
