<div class="jumbotron center">
	<h1 class="text-center">Welcome to the Crispino Lab home page!</h1>
	<div class="top-buffer">
		<h5>Thanks for visiting our site, which is still under construction.  But soon, you'll be able to see our lab members and bios, information about our research, and other interesting things about what goes on in our lab!</h5>
	</div>
	
	<% if user_signed_in? %>
	<% else %>
			<div class="text-center">
				<div class="top-buffer">
					<h5><%= link_to "Lab members can sign in here", new_user_session_path, class: "btn btn-custom"%> <h2> or </h2><%= link_to "Sign up here", new_user_registration_path, class: "btn btn-custom"%></h5>
				</div>
			</div>
	<% end %>

<div class="container-fluid">
	<div class="row-fluid top-buffer">
    <div class="text-center">
    	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#carousel-example-generic" data-slide="" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
			    <div class="item active">
			      <img src="http://placehold.it/1200x400" class="img-responsive" alt="...">
			      <div class="carousel-caption">
    					<h3>Placeholder1</h3>
    					<h5>Placeholder1</h5>
			      </div>
			    </div>
			    <div class="item">
			      <img src="http://placehold.it/1200x400" class="img-responsive" alt="...">
			      <div class="carousel-caption">
    					<h3>Placeholder1</h3>
    					<h5>Placeholder1</h5>
			      </div>
			    </div>
			    <div class="item">
			      <img src="http://placehold.it/1200x400" class="img-responsive" alt="...">
			      <div class="carousel-caption">
    					<h3>Placeholder1</h3>
    					<h5>Placeholder1</h5>
			      </div>
			    </div>
			  </div>

			  <!-- Controls -->
			  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left"></span>
			  </a>
			  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right"></span>
			  </a>
			</div>
		</div>
	</div>
</div>

</div>


