<div class="jumbotron">
	<h1 class="text-center">Welcome to the Crispino Lab home page!</h1>

	<p1>Thanks for visiting our site, which is still under construction.  But soon, you'll be able to see our lab members and bios, information about our research, and other interesting things about what goes on in our lab! <%= link_to "Lab members can sign in here", "#", class: "btn btn-primary btn-lg btn-block active" %></p>
</div>
