<h1 class="text-center">Lab members</h1>

<div class="btn-group btn-group-justified">
	<div class="btn-group">
	  <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown"><small>Research Assistant Professors</small><span class="caret"></span>
  	</button>
	  <ul class="dropdown-menu" role="menu">
	    <li><a href="#">Gina Kirsammer, PhD</a></li>
	    <li class="divider"></li>
	    <li><a href="#">Qiang Jeremy Wen, MD, PhD</a></li>
	  </ul>
	</div>
	<div class="btn-group">
	  <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">Postdocs<span class="caret"></span>
  	</button>
	  <ul class="dropdown-menu" role="menu">
	    <li><a href="#">Ben Thompson, MD, PhD</a></li>
	    <li class="divider"></li>
	    <li><a href="#">Laure Gilles, PhD</a></li>
	    <li class="divider"></li>
	    <li><a href="#">Monika Stankiewicz, PhD</a></li>
	  </ul>
	</div>
	<div class="btn-group">
	   <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">Students<span class="caret"></span>
  	</button>
	  <ul class="dropdown-menu" role="menu">
	    <li><a href="#">Ben Goldenson, MSTP Candidate</a></li>
	  </ul>
	</div>
	<div class="btn-group">
	   <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">
    Techs<span class="caret"></span>
  	</button>
	  <ul class="dropdown-menu" role="menu">
	    <li><a href="#">Rachael Schultz</a></li>
	    <li class="divider"></li>
	    <li><a href="#">Rahul Bhansali</a></li>
	    <li class="divider"></li>
	    <li><a href="#">Qiong Yang</a></li>
	  </ul>
	</div>
	<div class="btn-group">
	  <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">
    Undergrads<span class="caret"></span>
 	 	</button>
	  <ul class="dropdown-menu" role="menu">
	    <li><a href="#">Ritika Rastogi</a></li>
	    <li class="divider"></li>
	    <li><a href="#">Virginia Curtis</a></li>
	  </ul>
	</div>
</div>


<p>This is a working application created by Rahul Bhansali.  I've used the layout given by <%= link_to "One Month Rails","https://onemonthrails.com" %>, an incredibly helpful resource for learning Ruby on Rails.</p>


