<div class="page-header">
	<h1 class="text-center">Lab members</h1>
</div>

<div class="container-fluid">
 	<div class="row-fluid">
	    <div class="col-lg-3">
				<div class="btn-group btn-group-vertical">
					<div class="btn-group">
					  <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown"><small>Research Assistant Professors</small><span class="caret"></span>
				  	</button>
					  <ul class="dropdown-menu" role="menu">
					    <li><a href="#">Gina Kirsammer, PhD</a></li>
					    <li class="divider"></li>
					    <li><a href="#">Qiang Jeremy Wen, MD, PhD</a></li>
					  </ul>
					</div>
					<div class="btn-group">
					  <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">Postdocs<span class="caret"></span>
				  	</button>
					  <ul class="dropdown-menu" role="menu">
					    <li><a href="#">Ben Thompson, MD, PhD</a></li>
					    <li class="divider"></li>
					    <li><a href="#">Laure Gilles, PhD</a></li>
					    <li class="divider"></li>
					    <li><a href="#">Monika Stankiewicz, PhD</a></li>
					  </ul>
					</div>
					<div class="btn-group">
					   <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">Students<span class="caret"></span>
				  	</button>
					  <ul class="dropdown-menu" role="menu">
					    <li><a href="#">Ben Goldenson, MSTP Candidate</a></li>
					  </ul>
					</div>
					<div class="btn-group">
					   <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">
				    Techs<span class="caret"></span>
				  	</button>
					  <ul class="dropdown-menu" role="menu">
					    <li><a href="#">Rachael Schultz</a></li>
					    <li class="divider"></li>
					    <li><a href="#">Rahul Bhansali</a></li>
					    <li class="divider"></li>
					    <li><a href="#">Qiong Yang</a></li>
					  </ul>
					</div>
					<div class="btn-group">
					  <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">
				    Undergrads<span class="caret"></span>
				 	 	</button>
					  <ul class="dropdown-menu" role="menu">
					    <li><a href="#">Ritika Rastogi</a></li>
					    <li class="divider"></li>
					    <li><a href="#">Virginia Curtis</a></li>
					  </ul>
					</div>
				</div>
			</div>
			<div class="col-lg-8 col-lg-pull-1">
				<!--Body content-->
				<div class="text-center">
					<p>Choose from the left-hand toolbar to see labmember bios!</p>
				</div>    
	    </div>
	</div>
	<div class="row-fluid">
		<div class="col-xs-6 col-md-4 col-lg-push-1">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="...">
    </a>
  </div>
</div>


