<div class="page-header">
	<h1 class="text-center">Recent publications</h1>
</div>	
	<ul class="list-unstyled">
	  <p class="lead"><li>Lane AA, Chapuy B, Lin CY, Tivey T, Li H, Townsend EC, van Bodegom D, Day TA, Wu SC, Liu H, Yoda A, Alexe G, Schinzel AC, Sullivan TJ, Malinge S, Taylor JE, Stegmaier K, Jaffe JD, Bustin M, Te Kronnie G, Izraeli S, Harris MH, Stevenson KE, Neuberg D, Silverman LB, Sallan SE, Bradner JE, Hahn WC, <strong>Crispino JD</strong>, Pellman D, Weinstock DM. Triplication of a 21q22 region contributes to B cell transformation through HMGN1 overexpression and loss of histone H3 Lys27 trimethylation. <em>Nat Genet</em>. 2014;46(6):618-23.</li></p>
	  <p class="lead"><li><strong>Crispino JD</strong>, Weiss MJ. Erythro-megakaryocytic transcription factors associated with hereditary anemia. <em>Blood</em>. 2014;123(20):3080-3088.</li></p>
	  <p class="lead"><li>Goldenson B, <strong>Crispino JD</strong>. The aurora kinases in cell cycle and leukemia. <em>Oncogene</em>. 2014; Advanced online publication.</li></p>
	  <p class="lead"><li>Liu L, Wen Q, Gong R, Gilles L, Stankiewicz MJ, Li W, Guo M, Li L, Sun X, Li W, <strong>Crispino JD</strong>, Huang Z. PSTPIP2 dysregulation contributes to aberrant terminal differentiation in GATA-1-deficient megakaryocytes by activating LYN. <em>Cell Death Dis</em>. 2014;5:e988.</li></p>
	  <p class="lead"><li>Krause DS, <strong>Crispino JD</strong>. Molecular pathways: induction of polyploidy as a novel differentiation therapy for leukemia. <em>Clin Cancer Res</em>. 2013;19(22):6084-8.</li></p>
	  <p class="lead"><li>Malinge S, Chlon T, Doré LC, Ketterling RP, Tallman MS, Paietta E, Gamis AS, Taub JW, Chou ST, Weiss MJ, <strong>Crispino JD</strong>, Figueroa ME. Development of acute megakaryoblastic leukemia in Down syndrome is associated with sequential epigenetic changes. <em>Blood</em>. 2013;122(14):e33-43.</li></p>
	  <p class="lead"><li>Lasho T, Johnson SH, Smith DI, <strong>Crispino JD, Pardanani A, Vasmatzis G, Tefferi A</strong>. Identification of submicroscopic genetic changes and precise breakpoint mapping in myelofibrosis using high resolution mate-pair sequencing. <em>Am J Hematol</em>. 2013;88(9):741-6.</li></p>
	  <p class="lead"><li>Khan I, Huang Z, Wen Q, Stankiewicz MJ, Gilles L, Goldenson B, Schultz R, Diebold L, Gurbuxani S, Finke CM, Lasho TL, Koppikar P, Pardanani A, Stein B, Altman JK, Levine RL, Tefferi A,<strong>Crispino JD</strong>. AKT is a therapeutic target in myeloproliferative neoplasms. <em>Leukemia</em>. 2013;27(9):1882-90.</li></p>
	  <p class="lead"><li>Birger Y, Goldberg L, Chlon TM, Goldenson B, Muler I, Schiby G, Jacob-Hirsch J, Rechavi G, <strong>Crispino JD</strong>, Izraeli S. Perturbation of fetal hematopoiesis in a mouse model of Down syndrome's transient myeloproliferative disorder. <em>Blood</em>. 2013;122(6):988-98.</li></p>
	  <p class="lead"><li>Stankiewicz MJ, <strong>Crispino JD</strong>. AKT collaborates with ERG and Gata1s to dysregulate megakaryopoiesis and promote AMKL. <em>Leukemia</em>. 2013;27(6):1339-47.</li></p>
	</ul>

	<h5 class="lead">For a full list of publications, visit our <%= link_to "PubMed", "http://www.ncbi.nlm.nih.gov/pubmed?term=Crispino%20JD%5BAuthor%5D&cauthor=true&cauthor_uid=24747640" %> page.</h5>