<h1>Recent publications</h1>
	<ul class="list-unstyled">
	  <p class="lead"><li>Pub1</li></p>
	  <p class="lead"><li>Pub2</li></p>
	  <p class="lead"><li>Pub3</li></p>
	  <p class="lead"><li>Pub4</li></p>
	  <p class="lead"><li>Pub5</li></p>
	  <p class="lead"><li>Pub6</li></p>
	  <p class="lead"><li>Pub7</li></p>
	  <p class="lead"><li>Pub8</li></p>
	  <p class="lead"><li>Pub9</li></p>
	  <p class="lead"><li>Pub10</li></p>
	</ul>

	<p1 class="lead">For a full list of publications, visit our <%= link_to "PubMed", "http://www.ncbi.nlm.nih.gov/pubmed?term=Crispino%20JD%5BAuthor%5D&cauthor=true&cauthor_uid=24747640" %> page.</p1>