<div class="page-header">
	<h1 class="text-center">About our research</h1>
</div>

<div class="row-fluid">
	<h2><strong>Research Overview</strong></h4>
	<p class="lead">Research in the Crispino lab is focused on investigating the regulatory mechanisms governing normal and malignant blood cell development,with an emphasis on understanding the growth of erythroid cells (red blood cells) and megakaryocytes (platelet-producing cells). In addition, we are greatly interested in learning how changes in normal essential regulatorymolecules lead to human blood diseases, including leukemias, myelodysplastic syndromes (MDS) and myeloproliferative neoplasms (MPNs). Areas of major interest include:<p>

	<h5><strong>Mechanisms of leukemogenesis in children with Down syndrome:</strong></h5> 

	<p>Several years ago, we discovered that the zinc finger transcription factor GATA-1 is mutated in Acute Megakaryoblastic Leukemia(AMKL) in children with Down syndrome (DS). We further found that GATA1 mutations are also present in apre-leukemia, named transient myeloproliferative disorder, which is relatively common in infants with Down syndrome. Current studies in the lab are focused on characterizing the role of GATA-1 in normal megakaryocyte development and on investigating how GATA1 mutations contribute to leukemia. In related experiments, we are also studying the mechanisms by which trisomy 21 promotes the development of leukemia. Our long-term goal isto unravel the mystery of why children with DS are predisposed to leukemia. These studies are performed in collaboration with physicians at Ann & Robert H. Lurie Children’s Hospital of Chicago and the Children’s Oncology Group. In addition to studying mouse models of Down syndrome, we are now harnessing the power of induced pluripotent stem (iPS) cells to define the role of trisomy 21 in leukemia. Incollaboration with Drs. Vasil Galat and Marcelo (Bento) Soares at Stanley Manne Children's Research Institute, we are comparing gene expression and methylationprofiles of iPS cells derived from euploid and trisomic human cells.</p>

 	<h5><strong>Regulation of megakaryocyte proliferation, polyploidization and terminal maturation:</strong></h5>  
	<p>Megakaryocytes, the precursors to platelets, are one of the few cells types to undergo polyploidization in the normal course of maturation.We are using high throughput methods to identify genes that control the switch between the proliferative and the endomitotic cell cycle, such as survivin. Inaddition, we are examining the contribution of key transcription factors, suchas GATA-1, GATA-2 and Ets proteins in the regulation of megakaryocyte geneexpression, terminal differentiation and lineage commitment.</p>

 	<h5><strong>Development of novel therapeutics for human megakaryocytic neoplasms:</h5></strong>

	<p>In an ongoing collaboration with the Broad Institute, wehave identified a set of small molecules that rapidly and robustly induceproliferation arrest and terminal maturation of malignant megakaryocytes, including those that harbor mutations in GATA1,JAK3, or c-MPL, as well as thosethat express the t(1;22) fusion protein associated with pediatric non-DS AMKL.These small molecules induce features of megakaryocyte differentiation,including extensive polyploidization and expression of markers of terminaldifferentiation, but they do not appear to promote platelet release. We are currently developing these compounds as potential new therapies for blood disorders, including acute megakaryocytic leukemia and primary myelofibrosis.</p> 

	 <h5><strong>Control of red blood cells development:</h5></strong> 

	<p>Survivin, a member of the inhibitor of apoptosis (IAP) family that also plays an essential role in cytokinesis, is differentially expressed during erythroid versus megakaryocyte development. We recently reported that survivin is required for the maintenance of hematopoietic stemand progenitor cells as well as for red blood cell development. More recently,we have found that survivin is highly expressed in post-mitotic erythroblasts.We are currently studying the contribution of survivin to terminal maturation of erythroid cells, including enucleation.</p>